/* base */
html {
  background-color: #cabfb6;
}

body {
  background-color: white;
  width: 600px;
  margin: 0px auto;
  padding: 10px 100px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  padding-bottom: 60px;
}

/* top */
img {
  width: 500px;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400px;
}

.textalign {
  text-align: center;
}

#firstbutton {
  text-align: center;
  margin-left: -10px;
  background-color: #c9793b;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
}

#firstbutton:hover {
  border: 2px solid black;
}

/* bottom */
#inlinetext {
  display: inline;
}

#android,
#apple {
  font-size: 20px;
  border-color: white;
  border-radius: 5px;
  padding: 5px 25px;
}

#android {
  background-color: #a4c93b;
}

#apple {
  background-color: #b6bcca;
}
